<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%head.title%</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/~/index.css" />
    %head.other%
  </head>
  <body>
    <div id="app">
      <div class="top-nav">
        <div class="history">
          %app.history%
          <!-- <div class="slash">/</div>
          <a class="name" href="/packages">getting-started</a>
          <div class="slash">/</div>
          <a class="name" href="/packages/generate-docs">start</a> -->
        </div>
        <div class="controls">
          <div class="buttons">
            <a class="button" title="Switch Language" href="/%app.next_lang%">
              <span class="material-symbols-outlined icon">captive_portal</span>
            </a>
          </div>
          <div class="search">
            <span class="material-symbols-outlined icon"> search </span>
            <input type="text" id="search" placeholder="Search.." />
          </div>
          <div class="buttons">
            %app.nav_buttons%
            <!-- <div class="button" title="Github">
              <img src="/project/assets/github.png" height="24" />
            </div>
            <div class="button" title="Settings">
              <span class="material-symbols-outlined icon"> settings </span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="left-nav">
        <!-- <div class="section">
          <div class="head">
            <div class="name">Getting Started</div>
            <span class="material-symbols-outlined"> expand_more </span>
          </div>
          <div class="contents">
            <a href="/test/1"> test 1 </a>
            <a href="/test/2"> test 2 </a>
            <a href="/test/3"> test 3 </a>
            <a href="/test/4"> test 4 </a>
            <a href="/test/5"> test 5 </a>
            <a href="/test/6"> test 6 </a>
            <a href="/test/7"> test 7 </a>
            <a href="/test/8"> test 8 </a>
          </div>
        </div> -->
        %app.sections%
      </div>
      <div class="content">%app.content%</div>
    </div>
    <script src="/~/index.js"></script>
  </body>
</html>
