<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%head.title%</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="./index.css" />
    <!-- %head.other% -->
  </head>
  <body>
    <div id="app">
      <div class="top-nav">
        <div class="history">
          <!-- %app.history% -->
          <div class="slash">/</div>
          <a class="name" href="/packages">getting-started</a>
          <div class="slash">/</div>
          <a class="name" href="/packages/generate-docs">start</a>
        </div>
        <div class="controls">
          <div class="search">
            <span class="material-symbols-outlined icon"> search </span>
            <input type="text" id="search" placeholder="Search.." />
          </div>
          <div class="buttons">
            <!-- %app.nav_buttons% -->
            <div class="button" title="Github">
              <img src="/project/assets/github.png" height="24" />
            </div>
            <div class="button" title="Settings">
              <span class="material-symbols-outlined icon"> settings </span>
            </div>
          </div>
        </div>
      </div>
      <div class="left-nav">
        <div class="section">
          <div class="head">
            <div class="name">Getting Started</div>
            <span class="material-symbols-outlined"> expand_more </span>
          </div>
          <div class="contents">
            <a href="/test/1"> test 1 </a>
            <a href="/test/2"> test 2 </a>
            <a href="/test/3"> test 3 </a>
            <a href="/test/4"> test 4 </a>
            <a href="/test/5"> test 5 </a>
            <a href="/test/6"> test 6 </a>
            <a href="/test/7"> test 7 </a>
            <a href="/test/8"> test 8 </a>
          </div>
        </div>
      </div>
      <div class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
        excepturi, suscipit amet expedita aspernatur vero. Quis ad at, alias
        vero laboriosam voluptates error. Ea maiores sit labore! Sunt, officiis
        temporibus! Totam, aperiam. Cupiditate quod quasi earum labore magnam,
        repellendus laboriosam fuga, saepe corporis mollitia ullam fugiat
        facilis, distinctio eaque modi quo eius fugit dolorem blanditiis
        tempore. Quod dicta magni facere. Et tempora pariatur optio iste dolorem
        excepturi non, quas facilis obcaecati? Consectetur, error delectus? Eum,
        animi soluta quasi odit nihil corporis itaque dolores incidunt.
        Voluptate earum adipisci nostrum necessitatibus mollitia! Fugiat,
        laboriosam obcaecati ipsum totam dolor ab? Aperiam omnis nisi unde,
        autem blanditiis saepe nobis nesciunt, suscipit illum aspernatur beatae
        facere possimus totam fugit harum facilis doloribus est dolores?
        Facilis. Distinctio veniam laborum, tempora tenetur earum necessitatibus
        quas magnam accusamus provident sequi sed laudantium error pariatur
        minus delectus praesentium molestias cumque et? Fuga repellendus
        laudantium recusandae delectus optio voluptatum provident. Corrupti
        pariatur in, ex perspiciatis molestias maiores, quaerat quos nostrum
        numquam maxime velit recusandae cumque cum ut laudantium accusantium
        aperiam blanditiis tenetur. Perferendis quae itaque suscipit aperiam
        expedita temporibus eveniet! Sunt, quasi ipsa dolore soluta eos quae
        modi iure earum debitis, magni maxime nostrum necessitatibus minima
        suscipit labore! Repudiandae beatae necessitatibus cupiditate sunt
        repellendus adipisci sequi deserunt deleniti. Eos, quos. Corrupti
        laboriosam provident nisi beatae, quis, explicabo nihil eius voluptatum
        reprehenderit molestiae recusandae blanditiis culpa accusantium iure
        quidem! Mollitia eum voluptatem quo! Rem obcaecati nobis nihil dolor
        fugiat cupiditate quas! Nisi soluta temporibus aspernatur quod dolorem
        doloribus laboriosam quasi similique quam perspiciatis asperiores minima
        beatae voluptas, quos assumenda, voluptatum atque, ipsum libero eum
        dolor et animi ea ut repudiandae. Quam. Ducimus sapiente delectus beatae
        recusandae dolor doloremque, non sed minima, in adipisci neque totam
        mollitia perferendis quod sunt possimus esse architecto amet officia
        suscipit dolorum. Vitae architecto perspiciatis quibusdam ex! Nam nulla
        error ipsam culpa dolores, assumenda voluptatum saepe pariatur, facilis
        quam dignissimos natus repellat necessitatibus repellendus amet illo
        provident aspernatur, inventore tempore! Reiciendis esse nemo in
        consequuntur cupiditate tenetur. Rerum voluptates quam quibusdam iusto
        sit? Voluptas molestias nulla itaque accusamus veniam. Corrupti sapiente
        a quibusdam quam fuga possimus cumque tenetur autem, harum illum odit
        soluta sint incidunt sit obcaecati. Saepe optio, earum sit vel explicabo
        dolor. Quibusdam tempore voluptates assumenda nesciunt excepturi aut
        ullam officia facilis commodi deleniti ipsa cupiditate, veritatis rem
        iure repellat eius est laboriosam mollitia illo. Voluptas, vitae! Animi,
        voluptatem eos. In iusto corrupti sapiente necessitatibus velit
        dignissimos nihil, similique magnam odio esse quasi nam repellendus quia
        quam, doloremque voluptatibus atque reiciendis quaerat unde, obcaecati
        corporis. Quo, magnam? Ipsam natus rem enim sunt non quidem nemo,
        cupiditate, optio suscipit sapiente a quaerat dolorem corporis
        consequatur repellendus! Provident reprehenderit aliquid impedit.
        Quaerat porro officia amet nulla et. Quidem blanditiis esse autem
        distinctio dicta veniam delectus. Animi possimus nihil tenetur
        temporibus aliquid ea quo incidunt vel odit quae officiis totam ut,
        voluptatem nemo minus quisquam quis dolorem quaerat. Dolorem, ducimus
        tenetur officiis minus rem velit laboriosam quis ea, aliquam porro
        reiciendis, nesciunt labore voluptates quae? Quidem fuga reiciendis nisi
        delectus eius magnam harum ad itaque iure. Id, rem. Dolor vel nisi
        voluptatem earum temporibus doloribus sint quae voluptates reprehenderit
        maxime odit rem perferendis quidem dignissimos amet distinctio, repellat
        voluptas neque molestias inventore necessitatibus. Alias perferendis
        praesentium repellendus numquam! Culpa tempore quos, illum ea voluptates
        labore quia debitis recusandae! Vitae fugit doloribus sapiente sed ad
        repudiandae delectus eum sunt suscipit. Ipsum, vero consectetur! Quas
        laborum et odit cupiditate debitis. Cum quaerat eum vero pariatur soluta
        tempore quos perferendis maiores architecto voluptate provident,
        voluptatem error reprehenderit explicabo. Voluptas, officiis perferendis
        sint illum eligendi fugit suscipit dolorem nihil similique saepe?
        Recusandae. Minus temporibus autem modi excepturi, error perferendis
        maiores neque incidunt nemo tempore harum blanditiis vitae quas quis,
        unde dignissimos! Nemo ducimus aliquam quod fuga maiores maxime
        veritatis accusantium alias ipsum. Voluptates eos, aliquid velit
        pariatur sed laboriosam. Accusantium magni animi soluta, nobis eaque,
        perferendis dignissimos recusandae qui aut nisi distinctio, eum omnis
        debitis facilis iusto voluptatem ipsa cumque dolorem corrupti. Eligendi
        blanditiis aliquid illo deleniti alias, voluptatum obcaecati, in dolor
        perspiciatis facere ea tempore laudantium non dolores aliquam sint iure
        harum sed totam, quis vero ratione! Eveniet repudiandae sunt iure.
        Quibusdam dolorum nam architecto in, officiis quaerat molestias, vel
        maiores omnis ab exercitationem, aliquam consectetur beatae! Quod
        nostrum labore, numquam possimus fugiat obcaecati dicta expedita
        repellendus repellat, sint quas modi. Natus consequuntur aut eos
        excepturi laborum minus unde inventore est optio perspiciatis, sint
        obcaecati. Tempora cumque saepe provident itaque dolorem minus iure
        adipisci vero illo magnam, temporibus, id qui nisi! Id placeat eius
        dolorum labore consequatur velit illum. Vel modi ratione molestiae illum
        culpa inventore, nihil facilis earum qui consequuntur minus distinctio
        ducimus dignissimos tenetur quis fuga vero quia quisquam! Eligendi,
        repellat reprehenderit tenetur aperiam, tempore ab, dignissimos officia
        enim consequatur quas veniam deserunt. Facilis ab ullam quisquam vitae
        fugiat recusandae molestias! Esse earum quisquam beatae atque quibusdam
        alias inventore. Aliquam repellat esse incidunt animi expedita rem
        doloremque mollitia! Sed vitae excepturi pariatur accusamus dolor maxime
        illo nulla quos, delectus, ea perspiciatis quia, harum itaque?
        Doloribus, dolor fugit? Maiores, inventore. Velit, odio! Fugit dolorum
        corporis illo commodi libero numquam facere repudiandae alias et
        corrupti, consequatur maiores assumenda eligendi quae odio quisquam.
        Eveniet inventore reiciendis, incidunt repudiandae itaque molestiae
        natus minima? Ipsam voluptas tenetur quis dolore maxime porro obcaecati
        consequuntur. Nam, unde consectetur? Culpa, aperiam. Dignissimos, ea?
        Odit, fugiat dolorem? Aut sequi illo, quasi molestiae accusamus corporis
        ratione deleniti voluptatem adipisci. Praesentium, iure voluptatibus
        soluta consectetur hic neque harum non aspernatur modi dolorem earum
        distinctio quidem facere omnis, sed quae quod rerum inventore? Molestias
        libero tenetur repellat fugiat tempore veritatis deserunt. Assumenda
        temporibus rem necessitatibus recusandae aperiam possimus sequi? Dolore
        in eveniet possimus odio esse quibusdam quae quos. Nobis porro, sint
        sequi voluptates, iure ex ea aperiam iusto officia, dolores eum?
        Similique ipsa asperiores molestias maiores quae culpa quisquam
        assumenda velit facilis, dolor nostrum incidunt totam optio rerum
        excepturi commodi libero. Possimus eos a eligendi asperiores voluptas,
        dolorem consectetur id voluptate. Ipsa, similique corporis. Magni
        nostrum, recusandae dolor, voluptates corrupti esse voluptatibus labore
        numquam asperiores aliquam cupiditate a beatae eligendi. Dolore harum ea
        qui accusantium aut ex laudantium praesentium quasi corporis! Deserunt
        magni odit, tempora praesentium cum dolor beatae eos? Adipisci, quisquam
        alias inventore omnis eveniet iure error ea modi quam? Nulla, asperiores
        sapiente. Alias perspiciatis delectus, doloremque ducimus aliquid animi?
        Impedit perferendis non facilis dolor, quibusdam accusamus ducimus
        mollitia, debitis fugiat in optio labore inventore quasi ad quis
        cupiditate ullam placeat pariatur ipsum enim corrupti. Minus perferendis
        soluta ducimus explicabo? Laudantium enim molestias totam architecto,
        quibusdam voluptates soluta obcaecati veritatis quam, doloribus
        consectetur pariatur deserunt. Quod aspernatur rem quos temporibus a,
        repudiandae consectetur deserunt ut! Quasi in modi beatae ut. Quia saepe
        adipisci, quibusdam architecto magni ullam quis distinctio cum minima
        facilis earum voluptates molestias ducimus vel, esse, facere expedita
        fugiat. Accusantium rem iure deleniti asperiores eaque id pariatur ad!
        Ad delectus vero blanditiis vel tempora alias porro, veritatis ab rerum
        quae cumque consectetur, est vitae recusandae necessitatibus facere
        accusantium! Repudiandae repellat sed totam numquam est libero modi
        blanditiis beatae. Expedita tempore deserunt, ut fugiat illum commodi
        labore ab nihil cumque officiis, repellat illo rerum magnam distinctio
        id sunt debitis atque quisquam qui explicabo! Vel itaque aliquid
        repudiandae labore recusandae. Quisquam quidem eveniet hic molestiae
        repudiandae mollitia quo fuga ratione cumque alias, non iste quibusdam
        natus excepturi! Eos perferendis enim neque praesentium, deleniti sed
        modi earum, libero officiis sapiente et! Aperiam quae exercitationem
        molestias fugiat, commodi officia sunt consectetur. Quidem perferendis
        similique quae quaerat, adipisci deserunt esse architecto necessitatibus
        aliquid distinctio aspernatur maxime vitae voluptas. Nihil
        exercitationem et voluptate doloribus. Unde consequatur nihil sed,
        deleniti nulla impedit nesciunt ratione iusto commodi odit distinctio
        fuga debitis odio laborum molestias! Beatae voluptatum exercitationem
        quod laudantium facilis illo distinctio quia nobis fugit ipsum? Possimus
        quod consequatur, laborum accusantium unde sed voluptatum minus
        doloribus optio fugiat impedit incidunt veritatis ab nisi dolorum
        suscipit, exercitationem, amet obcaecati eligendi iusto saepe ullam
        voluptates quia molestiae? Assumenda. Eum, excepturi. Dicta repellendus
        quis amet ab. Placeat adipisci vitae odio dolorum dolores maiores sed
        obcaecati dicta vero quas ex asperiores voluptatum qui, atque hic sint
        delectus sequi deleniti perspiciatis! Aperiam quod quae ea, eum facilis,
        optio cupiditate fuga, repellendus ratione officia nihil culpa. A,
        doloribus veritatis id facilis quaerat aliquam hic mollitia sunt
        consequatur enim similique odit, inventore atque. Cum excepturi debitis
        itaque dolor quos et animi. Dignissimos modi quidem earum laboriosam
        repudiandae! Expedita veritatis repellendus placeat doloremque mollitia
        consequatur dignissimos, natus voluptatibus quibusdam dolore sapiente
        laudantium iusto consequuntur? Labore officia totam pariatur sequi cum,
        aspernatur, itaque molestias inventore harum blanditiis fugit voluptas
        nesciunt! Praesentium nemo dignissimos quibusdam, fugiat inventore natus
        amet explicabo tempora impedit in mollitia nihil doloremque! Impedit
        voluptatum laborum facere esse iste eaque praesentium perspiciatis rem
        dolor error consectetur sunt officiis quod, voluptates omnis sint,
        quibusdam eveniet aut aliquam modi quisquam excepturi. Blanditiis
        corporis consequatur molestiae. Explicabo optio vitae pariatur fuga?
        Iste quae eligendi, quos exercitationem tenetur ipsa harum cumque
        molestiae iure doloribus, dolore quo, reiciendis at unde sunt cum.
        Repellendus earum aliquam dicta nobis id! Dolorem aperiam unde illum
        temporibus corrupti animi dicta, nulla, quae voluptatibus officiis
        molestias modi sequi ex quo sapiente sint? Rem quaerat perferendis quia
        culpa minus in maxime libero sapiente nobis. Sapiente atque, beatae
        impedit vero corporis repellat expedita voluptatem obcaecati, rerum
        ipsum velit recusandae optio sed, animi hic omnis cupiditate porro.
        Delectus distinctio molestias debitis aspernatur voluptate numquam
        tempora? Placeat. Tempora et assumenda ipsam sed eveniet consectetur
        cupiditate quos, exercitationem illo deleniti iste ab, voluptatum eius
        voluptas cumque quas temporibus culpa repellat veniam modi sequi quasi
        doloribus. Dicta, tenetur accusantium. In, natus commodi voluptatibus
        nisi fugiat debitis magnam optio officiis ratione maxime eaque expedita
        animi asperiores quibusdam libero minima dicta, aut officia. Itaque
        nulla asperiores sed rerum ea temporibus odio. Dolore delectus possimus
        facilis. Laborum possimus nisi perferendis omnis cum, doloribus quasi.
        Odio accusamus nostrum voluptate repellendus iste. Nulla perspiciatis
        autem nobis ullam esse ipsa ad cumque delectus id pariatur? Atque
        quaerat et quisquam debitis praesentium porro repudiandae in accusantium
        dolorem laborum consequatur minima non minus mollitia, soluta adipisci
        magnam accusamus. Eaque numquam dolore aliquid maiores quibusdam
        aspernatur eos sed? Voluptates nobis vitae ab iusto deserunt eius quam
        reprehenderit. Similique quia impedit perferendis ipsum. Amet,
        perspiciatis cupiditate accusamus dolorem ut totam repellendus?
        Repellendus a eos aliquid quasi et, consequatur veniam? Distinctio saepe
        sunt officia dolor animi. Expedita quam corrupti, officia eum amet
        blanditiis officiis illo culpa nostrum. A iure sed recusandae. In rem
        voluptatem non, voluptates fugiat rerum cupiditate modi. Vel asperiores
        dolor illum nemo, aperiam neque quam? Libero ut architecto
        exercitationem fuga dolores, id perspiciatis consequuntur ex earum porro
        alias aspernatur quam pariatur ad amet nemo similique sint. Cupiditate.
        Fuga dignissimos at delectus provident obcaecati voluptatibus tempora
        labore, sint ut perferendis exercitationem nisi dolor sequi, corporis
        sapiente quia porro tempore cum consectetur id placeat. Obcaecati,
        provident? Provident, fuga nesciunt. Non id sit cupiditate molestiae
        voluptates, quos pariatur quidem dicta in vitae? Expedita, dolorem
        numquam? Sapiente ratione dolor expedita deleniti nesciunt ut, totam
        provident illo quos. Rem, similique dolore! Porro. Velit consectetur
        neque eligendi optio labore impedit, enim reiciendis nisi quisquam eum
        similique vitae esse ipsum unde itaque saepe sed eius, atque voluptate
        facilis. Vel ad incidunt consectetur voluptatibus at. Enim quidem qui
        voluptatibus aliquid a error similique dignissimos alias necessitatibus,
        tempora repudiandae suscipit rerum harum aut recusandae veniam animi
        rem, numquam, sint tenetur aspernatur itaque? Aliquid ullam minus non.
        Dolores sed distinctio aspernatur doloremque? Omnis corrupti
        reprehenderit deleniti! Autem laboriosam quos voluptatum dolorum itaque
        doloribus eligendi esse magnam, optio dolores assumenda velit veritatis
        illo temporibus pariatur facilis modi rerum!
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
